services:
  ubuntu:
    image: ubuntu
    container_name: ubuntu
    restart: unless-stopped
    volumes:
      - ..:/workspace:cached

  webspace:
    image: ghcr.io/simonhaas/images/webspace:main
    container_name: webspace
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    ports:
      - 3000:3000
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    shm_size: "1gb"
    restart: unless-stopped
    command: tailscaled
